<% @leftovers.in_groups_of(3, false).each do |item1, item2, item3| %>
<div class="row fh5co-pricing-table-1 ">
  <% if item1 %>
    <% if params[:locale] == 'zh_TW' && item1.zh_tw_external_link.present? %>
      <a href="<%= item1.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item1.zh_cn_external_link.present? %>
      <a href="<%= item1.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item1.vi_external_link.present? %>
      <a href="<%= item1.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item1.hmn_external_link.present?%>
      <a href="<%= item1.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item1.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item1.category %>">
        <%= item1.en_title if params[:locale] == 'en' %>
        <%= item1.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item1.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item1.vi_title if params[:locale] == 'vi' %>
        <%= item1.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body">
        <div><%= item1.en_notes if params[:locale] == 'en' %></div>
        <div><%= item1.zh_cn_notes if params[:locale] == 'zh_CN' %></div>
        <div><%= item1.zh_tw_notes if params[:locale] == 'zh_TW' %></div>
        <div><%= item1.vi_notes if params[:locale] == 'vi' %></div>
        <div><%= item1.hmn_notes if params[:locale] == 'hmn' %></div>

        <div class="fh5co-spacer fh5co-spacer-xxs"></div>
        <% item1.languages.each do |l| %>
          <div>
            <%= l %>
          </div>
        <% end %>

      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item2 %>
    <% if params[:locale] == 'zh_TW' && item2.zh_tw_external_link.present? %>
      <a href="<%= item2.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item2.zh_cn_external_link.present? %>
      <a href="<%= item2.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item2.vi_external_link.present? %>
      <a href="<%= item2.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item2.hmn_external_link.present?%>
      <a href="<%= item2.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item2.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item2.category %>">
        <%= item2.en_title if params[:locale] == 'en' %>
        <%= item2.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item2.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item2.vi_title if params[:locale] == 'vi' %>
        <%= item2.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body">
        <div><%= item2.en_notes if params[:locale] == 'en' %></div>
        <div><%= item2.zh_cn_notes if params[:locale] == 'zh_CN' %></div>
        <div><%= item2.zh_tw_notes if params[:locale] == 'zh_TW' %></div>
        <div><%= item2.vi_notes if params[:locale] == 'vi' %></div>
        <div><%= item2.hmn_notes if params[:locale] == 'hmn' %></div>

        <div class="fh5co-spacer fh5co-spacer-xxs"></div>
        <% item2.languages.each do |l| %>
          <div>
            <%= l %>
          </div>
        <% end %>

      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item3 %>
    <% if params[:locale] == 'zh_TW' && item3.zh_tw_external_link.present? %>
      <a href="<%= item3.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item3.zh_cn_external_link.present? %>
      <a href="<%= item3.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item3.vi_external_link.present? %>
      <a href="<%= item3.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item3.hmn_external_link.present?%>
      <a href="<%= item3.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item3.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item3.category %>">
        <%= item3.en_title if params[:locale] == 'en' %>
        <%= item3.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item3.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item3.vi_title if params[:locale] == 'vi' %>
        <%= item3.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body">
        <div><%= item3.en_notes if params[:locale] == 'en' %></div>
        <div><%= item3.zh_cn_notes if params[:locale] == 'zh_CN' %></div>
        <div><%= item3.zh_tw_notes if params[:locale] == 'zh_TW' %></div>
        <div><%= item3.vi_notes if params[:locale] == 'vi' %></div>
        <div><%= item3.hmn_notes if params[:locale] == 'hmn' %></div>

        <div class="fh5co-spacer fh5co-spacer-xxs"></div>
        <% item3.languages.each do |l| %>
          <div>
            <%= l %>
          </div>
        <% end %>

      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
</div>
<% end %>
