<% @testing.in_groups_of(4, false).each do |item1, item2, item3, item4| %>
<div class="row fh5co-pricing-table-1 ">
  <% if item1 %>
    <% if params[:locale] == 'zh_TW' && item1.zh_tw_external_link.present? %>
      <a href="<%= item1.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item1.zh_cn_external_link.present? %>
      <a href="<%= item1.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item1.vi_external_link.present? %>
      <a href="<%= item1.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item1.hmn_external_link.present?%>
      <a href="<%= item1.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item1.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-3 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item1.category %>">
        <%= item1.en_title if params[:locale] == 'en' %>
        <%= item1.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item1.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item1.vi_title if params[:locale] == 'vi' %>
        <%= item1.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body text-uppercase">
        <%= item1.en_content if params[:locale] == 'en' %>
        <%= item1.zh_cn_content if params[:locale] == 'zh_CN' %>
        <%= item1.zh_tw_content if params[:locale] == 'zh_TW' %>
        <%= item1.vi_content if params[:locale] == 'vi' %>
        <%= item1.hmn_content if params[:locale] == 'hmn' %>
        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer fh5co-spacer-xxs"></div>
          <!-- <p class="text-center"><%= link_to t('resources.external.view'), item1, class: "btn btn-primary btn-sm" %></p> -->
          <p class="text-center"><%= link_to 'Edit resource', edit_external_path(item1), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item1, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item2 %>
    <% if params[:locale] == 'zh_TW' && item2.zh_tw_external_link.present? %>
      <a href="<%= item2.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item2.zh_cn_external_link.present? %>
      <a href="<%= item2.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item2.vi_external_link.present? %>
      <a href="<%= item2.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item2.hmn_external_link.present?%>
      <a href="<%= item2.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item2.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-3 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item2.category %>">
        <%= item2.en_title if params[:locale] == 'en' %>
        <%= item2.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item2.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item2.vi_title if params[:locale] == 'vi' %>
        <%= item2.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body text-uppercase">
        <%= item2.en_content if params[:locale] == 'en' %>
        <%= item2.zh_cn_content if params[:locale] == 'zh_CN' %>
        <%= item2.zh_tw_content if params[:locale] == 'zh_TW' %>
        <%= item2.vi_content if params[:locale] == 'vi' %>
        <%= item2.hmn_content if params[:locale] == 'hmn' %>
        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
          <!-- <p class="text-center"><%= link_to t('resources.external.view'), item2, class: "btn btn-primary btn-sm" %></p> -->
          <p class="text-center"><%= link_to 'Edit resource', edit_external_path(item2), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item2, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item3 %>
    <% if params[:locale] == 'zh_TW' && item3.zh_tw_external_link.present? %>
      <a href="<%= item3.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item3.zh_cn_external_link.present? %>
      <a href="<%= item3.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item3.vi_external_link.present? %>
      <a href="<%= item3.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item3.hmn_external_link.present?%>
      <a href="<%= item3.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item3.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-3 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item3.category %>">
        <%= item3.en_title if params[:locale] == 'en' %>
        <%= item3.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item3.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item3.vi_title if params[:locale] == 'vi' %>
        <%= item3.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body text-uppercase">
        <%= item3.en_content if params[:locale] == 'en' %>
        <%= item3.zh_cn_content if params[:locale] == 'zh_CN' %>
        <%= item3.zh_tw_content if params[:locale] == 'zh_TW' %>
        <%= item3.vi_content if params[:locale] == 'vi' %>
        <%= item3.hmn_content if params[:locale] == 'hmn' %>
        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
          <!-- <p class="text-center"><%= link_to t('resources.external.view'), item3, class: "btn btn-primary btn-sm" %></p> -->
          <p class="text-center"><%= link_to 'Edit resource', edit_external_path(item3), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item3, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
  <% if item4 %>
    <% if params[:locale] == 'zh_TW' && item4.zh_tw_external_link.present? %>
      <a href="<%= item4.zh_tw_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'zh_CN' && item4.zh_cn_external_link.present? %>
      <a href="<%= item4.zh_cn_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'vi' && item4.vi_external_link.present? %>
      <a href="<%= item4.vi_external_link %>" target="_blank" >
    <% elsif params[:locale] == 'en' && item4.hmn_external_link.present?%>
      <a href="<%= item4.hmn_external_link %>" target="_blank" >
    <% else %>
      <a href="<%= item4.en_external_link %>" target="_blank" >
    <% end %>
    <div class="col-md-3 col-sm-6 fh5co-pricing-table-item">
      <h3 class="text-center fh5co-pricing-table-item-heading h4 text-uppercase <%= item4.category %>">
        <%= item4.en_title if params[:locale] == 'en' %>
        <%= item4.zh_cn_title if params[:locale] == 'zh_CN' %>
        <%= item4.zh_tw_title if params[:locale] == 'zh_TW' %>
        <%= item4.vi_title if params[:locale] == 'vi' %>
        <%= item4.hmn_title if params[:locale] == 'hmn' %>
      </h3>
      <div class="text-center fh5co-pricing-table-item-body text-uppercase">
        <%= item4.en_content if params[:locale] == 'en' %>
        <%= item4.zh_cn_content if params[:locale] == 'zh_CN' %>
        <%= item4.zh_tw_content if params[:locale] == 'zh_TW' %>
        <%= item4.vi_content if params[:locale] == 'vi' %>
        <%= item4.hmn_content if params[:locale] == 'hmn' %>
        <% if current_user.try(:admin?) %>
          <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
          <!-- <p class="text-center"><%= link_to t('resources.external.view'), item4, class: "btn btn-primary btn-sm" %></p> -->
          <p class="text-center"><%= link_to 'Edit resource', edit_external_path(item4), class:"btn btn-primary btn-sm" %></p>
          <p class="text-center"><%= link_to 'Delete resource', item4, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </a>
  <% end %>
</div>
<% end %>
