<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q8T209GGMN');
  gtag('send', 'pageview', {
    'dimension1':  getCookie('rct')
    });
  gtag('send','event','eventCategory','eventAction');
</script>

<!-- RESEARCH TEAM -->
<section id="fh5co-feature">
  <div class="container">

      <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.external_resources')%></h2>
      <p id="notice"><%= notice %></p>

      <div class="col-md-8 col-md-offset-2">
        <% if current_user.try(:admin?) %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <div class="actions">
            <%= link_to 'New External Resource', new_external_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <div class="fh5co-spacer fh5co-spacer-md"></div>
        <% end %>
      </div>

      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
          <label for="faq" class="sr-only"><%= t('resources.external.search')%></label>
          <form id="search" method="GET" action="/<%=params[:locale]%>/resources/externals" >
            <div class="col-md-8 form-group">
              <input class="form-control input-lg" type="text" id="search" name="search" placeholder="<%= t('resources.external.search_for_resources')%>">
            </div>
            <div class="col-md-2 form-group">
              <input class="form-control btn btn-primary" type="submit" value="<%= t('resources.external.search')%>">
            </div>
          </form>
          <form id="reset" method="GET" action="/<%=params[:locale]%>/resources/externals" >
            <div class="col-md-2 form-group">
              <input class="form-control btn btn-primary" type="submit" value="<%= t('resources.external.reset')%>">
            </div>
          </form>
        </div>
      </div>

      <% if @general.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.general')%></h2>
        <%= render 'general', collection: @general %>
      <% end %>

      <% if @testing.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.testing')%></h2>
        <%= render 'testing', collection: @testing %>
      <% end %>

      <% if @vaccination.any? %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.vaccination')%></h2>
        <%= render 'vaccination', collection: @vaccination %>
      <% end %>

      <% if @other.any?  %>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.other')%></h2>
        <%= render 'other', collection: @other %>
      <% end %>

      <% if current_user.try(:admin?) %>
        <% if @externals.any?  %>
          <div class="fh5co-spacer fh5co-spacer-md"></div>
          <h2 class="fh5co-uppercase-heading-lg text-center">Uncategorized Leftovers (Admin only)</h2>
          <%= render 'leftovers', collection: @externals %>
        <% end %>
      <% end %>


  </div>
</section>
