

<!-- RESEARCH TEAM -->
<section id="fh5co-feature">
  <div class="container">

      <h2 class="fh5co-uppercase-heading-lg text-center">External Resources</h2>
      <p id="notice"><%= notice %></p>

      <div class="col-md-8 col-md-offset-2">
        <% if current_user.try(:admin?) %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <div class="actions">
            <%= link_to 'New External Resource', new_external_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <div class="fh5co-spacer fh5co-spacer-md"></div>
        <% end %>
      </div>

      <% @externals.in_groups_of(4, false).each do |item1, item2, item3, item4| %>
      <div class="row fh5co-feature-2">
        <% if item1 %>
        <a href="<%= external_path(item1) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <h3 class="text-center fh5co-feature-title h4 text-uppercase">
              <%= item1.en_title if params[:locale] == 'en' %>
              <%= item1.zh_cn_title if params[:locale] == 'zh_CN' %>
              <%= item1.zh_tw_title if params[:locale] == 'zh_TW' %>
              <%= item1.vi_title if params[:locale] == 'vi' %>
              <%= item1.hmn_title if params[:locale] == 'hmn' %>
            </h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item1.en_source if params[:locale] == 'en' %>
              <%= item1.zh_cn_source if params[:locale] == 'zh_CN' %>
              <%= item1.zh_tw_source if params[:locale] == 'zh_TW' %>
              <%= item1.vi_source if params[:locale] == 'vi' %>
              <%= item1.hmn_source if params[:locale] == 'hmn' %>
            </p>
            <p class="text-center"><%= link_to 'View', item1, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this resource', edit_external_path(item1), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this resource', item1, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
        <% end %>
        <% if item2 %>
        <a href="<%= external_path(item2) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <h3 class="text-center fh5co-feature-title h4 text-uppercase">
              <%= item2.en_title if params[:locale] == 'en' %>
              <%= item2.zh_cn_title if params[:locale] == 'zh_CN' %>
              <%= item2.zh_tw_title if params[:locale] == 'zh_TW' %>
              <%= item2.vi_title if params[:locale] == 'vi' %>
              <%= item2.hmn_title if params[:locale] == 'hmn' %>
            </h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item2.en_source if params[:locale] == 'en' %>
              <%= item2.zh_cn_source if params[:locale] == 'zh_CN' %>
              <%= item2.zh_tw_source if params[:locale] == 'zh_TW' %>
              <%= item2.vi_source if params[:locale] == 'vi' %>
              <%= item2.hmn_source if params[:locale] == 'hmn' %>
            </p>
            <p class="text-center"><%= link_to 'View', item2, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this resource', edit_external_path(item2), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this resource', item2, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
        <% end %>
        <% if item3 %>
        <a href="<%= external_path(item3) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <h3 class="text-center fh5co-feature-title h4 text-uppercase">
              <%= item3.en_title if params[:locale] == 'en' %>
              <%= item3.zh_cn_title if params[:locale] == 'zh_CN' %>
              <%= item3.zh_tw_title if params[:locale] == 'zh_TW' %>
              <%= item3.vi_title if params[:locale] == 'vi' %>
              <%= item3.hmn_title if params[:locale] == 'hmn' %>
            </h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item3.en_source if params[:locale] == 'en' %>
              <%= item3.zh_cn_source if params[:locale] == 'zh_CN' %>
              <%= item3.zh_tw_source if params[:locale] == 'zh_TW' %>
              <%= item3.vi_source if params[:locale] == 'vi' %>
              <%= item3.hmn_source if params[:locale] == 'hmn' %>
            </p>
            <p class="text-center"><%= link_to 'View', item3, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this resource', edit_external_path(item3), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this resource', item3, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
        <% end %>
        <% if item1 %>
        <a href="<%= external_path(item1) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <h3 class="text-center fh5co-feature-title h4 text-uppercase">
              <%= item4.en_title if params[:locale] == 'en' %>
              <%= item4.zh_cn_title if params[:locale] == 'zh_CN' %>
              <%= item4.zh_tw_title if params[:locale] == 'zh_TW' %>
              <%= item4.vi_title if params[:locale] == 'vi' %>
              <%= item4.hmn_title if params[:locale] == 'hmn' %>
            </h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item4.en_source if params[:locale] == 'en' %>
              <%= item4.zh_cn_source if params[:locale] == 'zh_CN' %>
              <%= item4.zh_tw_source if params[:locale] == 'zh_TW' %>
              <%= item4.vi_source if params[:locale] == 'vi' %>
              <%= item4.hmn_source if params[:locale] == 'hmn' %>
            </p>
            <p class="text-center"><%= link_to 'View', item4, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this resource', edit_external_path(item4), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this resource', item4, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
        <% end %>
      </div>
    <% end %>

  </div>
</section>
