<p id="notice"><%= notice %></p>

<p>
  <strong>En title:</strong>
  <%= @external.en_title %>
</p>

<p>
  <strong>En source:</strong>
  <%= @external.en_source %>
</p>

<p>
  <strong>En content:</strong>
  <%= @external.en_content %>
</p>

<p>
  <strong>En external link:</strong>
  <%= @external.en_external_link %>
</p>

<p>
  <strong>En notes:</strong>
  <%= @external.en_notes %>
</p>

<p>
  <strong>Zh tw title:</strong>
  <%= @external.zh_tw_title %>
</p>

<p>
  <strong>Zh tw source:</strong>
  <%= @external.zh_tw_source %>
</p>

<p>
  <strong>Zh tw content:</strong>
  <%= @external.zh_tw_content %>
</p>

<p>
  <strong>Zh tw external link:</strong>
  <%= @external.zh_tw_external_link %>
</p>

<p>
  <strong>Zh tw notes:</strong>
  <%= @external.zh_tw_notes %>
</p>

<p>
  <strong>Zh cn title:</strong>
  <%= @external.zh_cn_title %>
</p>

<p>
  <strong>Zh cn:</strong>
  <%= @external.zh_cn_source %>
</p>

<p>
  <strong>Zh cn content:</strong>
  <%= @external.zh_cn_content %>
</p>

<p>
  <strong>Zh cn external link:</strong>
  <%= @external.zh_cn_external_link %>
</p>

<p>
  <strong>Zh cn notes:</strong>
  <%= @external.zh_cn_notes %>
</p>

<p>
  <strong>Vi title:</strong>
  <%= @external.vi_title %>
</p>

<p>
  <strong>Vi source:</strong>
  <%= @external.vi_source %>
</p>

<p>
  <strong>Vi content:</strong>
  <%= @external.vi_content %>
</p>

<p>
  <strong>Vi external link:</strong>
  <%= @external.vi_external_link %>
</p>

<p>
  <strong>Vi notes:</strong>
  <%= @external.vi_notes %>
</p>

<p>
  <strong>Hmn title:</strong>
  <%= @external.hmn_title %>
</p>

<p>
  <strong>Hmn source:</strong>
  <%= @external.hmn_source %>
</p>

<p>
  <strong>Hmn content:</strong>
  <%= @external.hmn_content %>
</p>

<p>
  <strong>Hmn external link:</strong>
  <%= @external.hmn_external_link %>
</p>

<p>
  <strong>Hmn notes:</strong>
  <%= @external.hmn_notes %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @external.languages %>
</p>

<p>
  <strong>Last version date:</strong>
  <%= @external.last_version_date %>
</p>

<%= link_to 'Edit', edit_external_path(@external) %> |
<%= link_to 'Back', externals_path %>
