
<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-spacer fh5co-spacer-lg"></div>
    <div class="row">
			<div class="col-md-12">
        <%= form_with(model: healthwise_article) do |form| %>
          <% if healthwise_article.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(healthwise_article.errors.count, "error") %> prohibited this healthwise_article from being saved:</h2>

              <ul>
                <% healthwise_article.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div id="fh5co-tab-feature" class="fh5co-tab text-center">
            <h1>Editing Healthwise Topic</h1>
            <div class="col-md-12">
              <div class="field form-group">
                <%= form.label :hwid %>
                <%= form.text_field :hwid %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="field form-group">
                <%= form.label :article_or_topic? %>
                <%= form.select :article_or_topic, ["Article", "Topic"], class: 'form-control input-lg' %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="field form-group">
                <%= form.label :category %>
                <%= form.select :category, ["General", "Testing", "Vaccination", "Wellness"], class: 'form-control input-lg' %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="field form-group">
                <%= form.label :featured? %>
                <%= form.check_box :featured %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="field form-group">
                <%= form.label :archive? %>
                <%= form.check_box :archive %>
              </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
              <div class="field form-group">
                <%= form.label :languages %> must be en-us / zh-us / hm-us / vi-us
                <%= form.text_area :languages, name: 'healthwise_article[languages][]', size: '70x5', class: 'form-control input-lg', value: form.object.languages.join("\n") %>
              </div>
            </div>

            <ul class="resp-tabs-list hor_1">
              <li> English (en)</li>
              <li> Chinese Traditional (zh_tw)</li>
              <li> Chinese Simplified (zh_cn)</li>
              <li> Hmong (hmn)</li>
              <li> Vietnamese (vi)</li>
            </ul>
            <div class="resp-tabs-container hor_1">

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :en_title %>
                  <%= form.text_field :en_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :en_translated? %>
                  <%= form.check_box :en_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <% @healthwise_article.en_json['data']['topics'][0].each do |key, value| %>
                    <%= form.label key %>
                    <input name="healthwise_article[en_json]['data']['topics'][0][<%= key %>]" type="text" value="<%= value %>" />
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_tw_title %>
                  <%= form.text_field :zh_tw_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_tw_translated? %>
                  <%= form.check_box :zh_tw_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <% @healthwise_article.zh_tw_json['data']['topics'][0].each do |key, value| %>
                    <%= form.label key %>
                    <input name="healthwise_article[en_json]['data']['topics'][0][<%= key %>]" type="text" value="<%= value %>" />
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_cn_title %>
                  <%= form.text_field :zh_cn_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :zh_cn_translated? %>
                  <%= form.check_box :zh_cn_translated %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="field form-group">
                  <% @healthwise_article.zh_cn_json['data']['topics'][0].each do |key, value| %>
                    <%= form.label key %>
                    <input name="healthwise_article[en_json]['data']['topics'][0][<%= key %>]" type="text" value="<%= value %>" />
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :vi_title %>
                  <%= form.text_field :vi_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :vi_translated? %>
                  <%= form.check_box :vi_translated %>
                </div>
              </div>

              <% if @healthwise_article.vi_json.present? %>
                <div class="col-md-12">
                  <div class="field form-group">
                    <% @healthwise_article.vi_json['data']['topics'][0].each do |key, value| %>
                      <%= form.label key %>
                      <input name="healthwise_article[en_json]['data']['topics'][0][<%= key %>]" type="text" value="<%= value %>" />
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :hmn_title %>
                  <%= form.text_field :hmn_title %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field form-group">
                  <%= form.label :hmn_translated? %>
                  <%= form.check_box :hmn_translated %>
                </div>
              </div>

              <% if @healthwise_article.hmn_json.present? %>
                <div class="col-md-12">
                  <div class="field form-group">
                    <% @healthwise_article.hmn_json['data']['topics'][0].each do |key, value| %>
                      <%= form.label key %>
                      <input name="healthwise_article[en_json]['data']['topics'][0][<%= key %>]" type="text" value="<%= value %>" />
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div> <!-- end resp-tabs-container hor_1 -->
          <div class="fh5co-spacer fh5co-spacer-sm"></div>


          <div class="col-md-8 col-md-offset-2">
            <div class="actions">
              <%= form.submit class: "btn btn-primary btn-lg btn-block"%>
              <%= link_to 'Back', healthwise_article_path, class: "btn btn-primary btn-lg btn-block" %>
            </div>
          </div>
        <% end %>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
    </div>
  </div>
</section>
