<p id="notice"><%= notice %></p>

<h1>Healthwise Articles</h1>

<table>
  <thead>
    <tr>
      <th>Hwid</th>
      <th>article_or_topic</th>
      <th>En title</th>
      <th>En json</th>
      <th>En translated</th>
      <th>Zh tw title</th>
      <th>Zh tw json</th>
      <th>Zh tw translated</th>
      <th>Zh cn title</th>
      <th>Zh cn json</th>
      <th>Zh cn translated</th>
      <th>Vi title</th>
      <th>Vi json</th>
      <th>Vi translated</th>
      <th>Hmn title</th>
      <th>Hmn json</th>
      <th>Hmn translated</th>
      <th>Languages</th>
      <th>Category</th>
      <th>Featured</th>
      <th>Archive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healthwise_articles.each do |healthwise_article| %>
      <tr>
        <td><%= healthwise_article.hwid %></td>
        <td><%= healthwise_article.article_or_topic %></td>
        <td><%= healthwise_article.en_title %></td>
        <td><%= healthwise_article.en_json %></td>
        <td><%= healthwise_article.en_translated %></td>
        <td><%= healthwise_article.zh_tw_title %></td>
        <td><%= healthwise_article.zh_tw_json %></td>
        <td><%= healthwise_article.zh_tw_translated %></td>
        <td><%= healthwise_article.zh_cn_title %></td>
        <td><%= healthwise_article.zh_cn_json %></td>
        <td><%= healthwise_article.zh_cn_translated %></td>
        <td><%= healthwise_article.vi_title %></td>
        <td><%= healthwise_article.vi_json %></td>
        <td><%= healthwise_article.vi_translated %></td>
        <td><%= healthwise_article.hmn_title %></td>
        <td><%= healthwise_article.hmn_json %></td>
        <td><%= healthwise_article.hmn_translated %></td>
        <td><%= healthwise_article.languages %></td>
        <td><%= healthwise_article.category %></td>
        <td><%= healthwise_article.featured %></td>
        <td><%= healthwise_article.archive %></td>
        <td><%= link_to 'Show', healthwise_article %></td>
        <td><%= link_to 'Edit', edit_healthwise_article_path(healthwise_article) %></td>
        <td><%= link_to 'Destroy', healthwise_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Healthwise Article', new_healthwise_article_path %>
