<% if @healthwise_article.article_or_topic == "Article" %>
  <%= render 'hw_article', healthwise_article: @healthwise_article %>
<% else %>
  <%= render 'hw_topic', healthwise_article: @healthwise_article %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Updated:</strong>
  <%= @healthwise_article.updated_at %>
</p>

<p>
  <strong>Hwid:</strong>
  <%= @healthwise_article.hwid %>
</p>

<p>
  <strong>article_or_topic:</strong>
  <%= @healthwise_article.article_or_topic %>
</p>

<p>
  <strong>En title:</strong>
  <%= @healthwise_article.en_title %>
</p>

<p>
  <strong>En json:</strong>
  <%= @healthwise_article.en_json %>
</p>

<p>
  <strong>En translated:</strong>
  <%= @healthwise_article.en_translated %>
</p>

<p>
  <strong>Zh tw title:</strong>
  <%= @healthwise_article.zh_tw_title %>
</p>

<p>
  <strong>Zh tw json:</strong>
  <%= @healthwise_article.zh_tw_json %>
</p>

<p>
  <strong>Zh tw translated:</strong>
  <%= @healthwise_article.zh_tw_translated %>
</p>

<p>
  <strong>Zh cn title:</strong>
  <%= @healthwise_article.zh_cn_title %>
</p>

<p>
  <strong>Zh cn json:</strong>
  <%= @healthwise_article.zh_cn_json %>
</p>

<p>
  <strong>Zh cn translated:</strong>
  <%= @healthwise_article.zh_cn_translated %>
</p>

<p>
  <strong>Vi title:</strong>
  <%= @healthwise_article.vi_title %>
</p>

<p>
  <strong>Vi json:</strong>
  <%= @healthwise_article.vi_json %>
</p>

<p>
  <strong>Vi translated:</strong>
  <%= @healthwise_article.vi_translated %>
</p>

<p>
  <strong>Hmn title:</strong>
  <%= @healthwise_article.hmn_title %>
</p>

<p>
  <strong>Hmn json:</strong>
  <%= @healthwise_article.hmn_json %>
</p>

<p>
  <strong>Hmn translated:</strong>
  <%= @healthwise_article.hmn_translated %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @healthwise_article.languages %>
</p>

<p>
  <strong>Category:</strong>
  <%= @healthwise_article.category %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @healthwise_article.featured %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @healthwise_article.archive %>
</p>

<%= link_to 'Edit', edit_healthwise_article_path(@healthwise_article) %> |
<%= link_to 'Back', healthwise_articles_path %>
