<% if @healthwise_article.article_or_topic == "Article" %>
  <%= render 'hw_article', healthwise_article: @healthwise_article %>
<% else %>
  <%= render 'hw_topic', healthwise_article: @healthwise_article %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Updated on:</strong>
  <%= @healthwise_article.updated_at %>
</p>

<%= link_to 'Edit', edit_healthwise_article_path(@healthwise_article) %> |
<%= link_to 'Back', healthwise_articles_path %>
