<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :en_name %>
    <%= form.text_field :en_name %>
  </div>

  <div class="field">
    <%= form.label :en_content %>
    <%= form.text_field :en_content %>
  </div>
  
  <div class="field">
    <%= form.label :zh_tw_name %>
    <%= form.text_field :zh_tw_name %>
  </div>

  <div class="field">
    <%= form.label :zh_tw_content %>
    <%= form.text_field :zh_tw_content %>
  </div>

  <div class="field">
    <%= form.label :zh_cn_name %>
    <%= form.text_field :zh_cn_name %>
  </div>

  <div class="field">
    <%= form.label :zh_cn_content %>
    <%= form.text_field :zh_cn_content %>
  </div>

  <div class="field">
    <%= form.label :vi_name %>
    <%= form.text_field :vi_name %>
  </div>

  <div class="field">
    <%= form.label :vi_content %>
    <%= form.text_field :vi_content %>
  </div>

  <div class="field">
    <%= form.label :hmn_name %>
    <%= form.text_field :hmn_name %>
  </div>

  <div class="field">
    <%= form.label :hmn_content %>
    <%= form.text_field :hmn_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
