<div class="fh5co-spacer fh5co-spacer-lg"></div>

<section>
  <div class="container">
    <div class="row">
			<div class="col-md-8 col-md-offset-2">
      <%= form_with(model: message) do |form| %>
        <% if message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
              <% message.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :en_name, class: 'sr-only'%>
    <%= form.text_field :en_name, class: 'form-control input-lg', placeholder: "en_name" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :en_content, class: 'sr-only' %>
    <%= form.text_field :en_content, class: 'form-control input-lg', placeholder: "en_content"  %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :zh_tw_name, class: 'sr-only'   %>
    <%= form.text_field :zh_tw_name, class: 'form-control input-lg', placeholder: "zh_tw_name" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :zh_tw_content, class: 'sr-only'   %>
    <%= form.text_field :zh_tw_content, class: 'form-control input-lg', placeholder: "zh_tw_content" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :zh_cn_name, class: 'sr-only'   %>
    <%= form.text_field :zh_cn_name, class: 'form-control input-lg', placeholder: "zh_cn_name" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :zh_cn_content, class: 'sr-only'   %>
    <%= form.text_field :zh_cn_content, class: 'form-control input-lg', placeholder: "zh_cn_content" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :vi_name, class: 'sr-only'   %>
    <%= form.text_field :vi_name, class: 'form-control input-lg', placeholder: "vi_name" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :vi_content, class: 'sr-only'   %>
    <%= form.text_field :vi_content, class: 'form-control input-lg', placeholder: "vi_content" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :hmn_name, class: 'sr-only'   %>
    <%= form.text_field :hmn_name, class: 'form-control input-lg', placeholder: "hmn_name" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <%= form.label :hmn_content, class: 'sr-only'   %>
    <%= form.text_field :hmn_content, class: 'form-control input-lg', placeholder: "hmn_content" %>
  </div>
</div>

<div class="col-md-12">
  <div class="field form-group">
    <% if @message.image.attached? %>
      <%= image_tag @message.image, class: 'sr-only'  %>
    <% end %>

    <%= form.label :image, class: 'sr-only' %>
    <%= form.file_field :image, direct_upload: true, class: "form-control input-lg" %>
  </div>
<div>

<div class="col-md-12">
  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-lg btn-block"%>
    <%= link_to 'Back', messages_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
<% end %>

				<div class="fh5co-spacer fh5co-spacer-sm"></div>
			</div>

		</div>

	</div>
</section>
