<!-- START #fh5co-hero -->
<aside id="fh5co-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="fh5co-hero-wrap">
          <div class="fh5co-hero-intro">
            <h1><%= t('messages.messages')%> </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>

<section>
  <!-- START FEATURE 2 -->
<div class="container">

  <div class="row fh5co-feature-2">

    <!-- <div class="col-md-12">
      <h2 class="fh5co-uppercase-heading-lg text-center"><%= Message.model_name.human(count:2) %></h2>
    </div> -->

    <div class="col-md-8 col-md-offset-2">
      <% if current_user.try(:admin?) %>
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <div class="actions">
          <%= link_to 'New Message', new_message_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
				<div class="fh5co-spacer fh5co-spacer-md"></div>
      <% end %>
    </div>

<p id="notice"><%= notice %></p>

    <% @messages.each do |message| %>

        <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <% case %>
              <%  when params[:locale] == "en" %>
                <span class="fh5co-feature-icon"><i><%= image_tag message.images.first, class: "img-fluid", :style => "max-width: 100%; height: auto"%></i></span>
                <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= message.en_name %></h2>

              <%  when params[:locale] == "zh_TW" %>
                <span class="fh5co-feature-icon"><i><%= image_tag message.zh_tw_images.first, class: "img-fluid", :style => "max-width: 100%; height: auto"%></i></span>
                <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= message.zh_tw_name %></h2>

              <%  when params[:locale] == "zh_CN" %>
                <span class="fh5co-feature-icon"><i><%= image_tag message.zh_cn_images.first, class: "img-fluid", :style => "max-width: 100%; height: auto"%></i></span>
                <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= message.zh_cn_name %></h2>

              <%  when params[:locale] == "vi" %>
                <span class="fh5co-feature-icon"><i><%= image_tag message.vi_images.first, class: "img-fluid", :style => "max-width: 100%; height: auto"%></i></span>
                <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= message.vi_name %></h2>

              <%  when params[:locale] == "hmn" %>
                <span class="fh5co-feature-icon"><i><%= image_tag message.hmn_images.first, class: "img-fluid", :style => "max-width: 100%; height: auto"%></i></span>
                <h2 class="text-center fh5co-feature-title h4 text-uppercase"><%= message.hmn_name %></h2>
              <% end %>

              <p class="text-center"><%= link_to t('messages.read_more'), message, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this message', edit_message_path(message), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this message', message, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
          </div>
          <% end %>

    <div class="col-md-8 col-md-offset-2">
      <div class="actions">
        <%= link_to t('messages.back'), messages_path, class: "btn btn-outline btn-lg btn-block" %>
      </div>
    </div>

  </div>
</section>
