<p id="notice"><%= notice %></p>

<p>
  <strong><%= Message.human_attribute_name("name")  %>:</strong>
  <%= @message_name %>
</p>

<p>
  <strong><%= Message.human_attribute_name("content") %>:</strong>
  <%= @message_content %>
</p>

<% if @comments %>
  <% @comments.each do |comment| %>
  <li>  <%= comment.content %> </li>
  <% end %>
<% end %>


<%= form_with model: [ @message, @message.comments.build ] do |form| %>
  <div class="field">
    <%= form.label "Add a comment" %>
    <%= form.text_field :content %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<% if @current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_message_path(@message) %> |
<% end %>


<%= form_with model: [ @message, @message.likes.build ] do |form| %>
  <div class="field">
    <%= form.label :up %>
    <%= form.text_field :up %>
  </div>

  <div class="field">
    <%= form.label :down %>
    <%= form.text_field :down %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', messages_path %>
