<% case %>
  <%  when params[:locale] == "en" %>
    <% if @message.images.attached? %>
      <section id="fh5co-testimonial" >
        <% @message.images.each do |img| %>
          <%= image_tag img, class: "img-fluid", :style => "max-width: 100%; height: auto;"%>
        <% end %>
      </section>
    <% end %>

  <%  when params[:locale] == "vi" %>
    <% if @message.vi_images.attached? %>
      <section id="fh5co-testimonial" >
        <% @message.vi_images.each do |img| %>
          <%= image_tag img, class: "img-fluid", :style => "max-width: 100%; height: auto;"%>
        <% end %>
      </section>
    <% end %>

  <%  when params[:locale] == "zh_CN" %>
    <% if @message.zh_cn_images.attached? %>
      <section id="fh5co-testimonial" >
        <% @message.zh_cn_images.each do |img| %>
          <%= image_tag img, class: "img-fluid", :style => "max-width: 100%; height: auto;"%>
        <% end %>
      </section>
    <% end %>

  <%  when params[:locale] == "zh_TW" %>
    <% if @message.zh_tw_images.attached? %>
      <section id="fh5co-testimonial" >
        <% @message.zh_tw_images.each do |img| %>
          <%= image_tag img, class: "img-fluid", :style => "max-width: 100%; height: auto;"%>
        <% end %>
      </section>
    <% end %>

  <%  when params[:locale] == "hmn" %>
    <% if @message.hmn_images.attached? %>
      <section id="fh5co-testimonial" >
        <% @message.hmn_images.each do |img| %>
          <%= image_tag img, class: "img-fluid", :style => "max-width: 100%; height: auto;"%>
        <% end %>
      </section>
    <% end %>

<% end %>

<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-spacer fh5co-spacer-md"></div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="fh5co-uppercase-heading-sm text-center" id="notice"><%= notice %></h2>
      </div>

      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
        <h1 class="h1 fh5co-heading fh5co-no-margin-bottom"><%= @message_name %></h1>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div><%= @message_content %></div>
      </div>

      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
        <% if @message_action_item.present? %>
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <h4 class="fh5co-heading-2"><%= @message_action_item %></h4>
        <% end %>
      </div>

      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
        <% if @message.external_links.any? %>
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <h4 class="h5 fh5co-heading-sub"><%= t('messages.show.action_item_more_info')%></h4>
          <% @message.external_links.each do |l| %>
            <ul><a href="<%=l%>?rct=<%=cookies[:rct]%>", target="_blank", style="fh5co-heading-sub-2"><%=l%></a></ul>
          <% end %>
        <% end %>

        <% if @message.survey_link.present? %>
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <h4 class="h5 fh5co-heading-sub"><%= t('messages.show.survey_link')%></h4>
          <a href="<%=@message.survey_link%>?rct=<%=cookies[:rct]%>", target="_blank", style="fh5co-heading-sub-2"><%=@message.survey_link%></a>
        <% end %>
      </div>


      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header"></div>
    </div>
  </div>
</section>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
<!-- like buttons -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">

      <%= form_with model: [ @message, @message.likes.build ] do |form| %>
        <div class="field col-md-6">
          <%= form.label :up, class: 'sr-only' %>
          <%= form.hidden_field :up, value: 1 %>
          <%= form.button @up_likes, id: "uplike", class: "ti-thumb-up btn btn-primary btn-lg fh5co-btn-icon", value: @up_likes %>
        </div>
      <% end %>

      <%= form_with model: [ @message, @message.likes.build ] do |form| %>
        <div class="field col-md-6">
          <%= form.label :down, class: 'sr-only' %>
          <%= form.hidden_field :down, value: 1 %>
          <%= form.button @down_likes, id: "downlike", class: "ti-thumb-down btn btn-primary btn-lg fh5co-btn-icon", value: @down_likes %>
        </div>
      <% end %>

      </div>
    </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row fh5co-feature-3"">
      <% if @comments.any? %>
      <div class="col-md-12">
        <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('messages.comments')%>:</h2>
      </div>

    	<div class="fh5co-spacer fh5co-spacer-sm"></div>
        <% @comments.each do |comment| %>
					<div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="fh5co-feature-item">
                <% if current_user.try(:admin?) %>
                  <span class="fh5co-feature-icon"><%= link_to '', [@message, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'ti-trash', style: "font-size: 30px;" %></span>
                <% else %>
                  <span class="fh5co-feature-icon"><i class="ti-comment-alt"></i></span>
                <% end %>
                <div class="fh5co-feature-blurb">
                  <h2 class="h4 fh5co-feature-title"><%= comment.content %></h2>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
          <div class="field form-group">
            <%= form_with model: [ @message, @message.comments.build ] do |form| %>
              <div class="field">
                <%= form.label :content, class: 'sr-only'%>
                <%= form.text_field :content, class: 'form-control input-lg expand', placeholder: t('messages.leave_comment') %>
              </div>
              <div class="fh5co-spacer fh5co-spacer-xxs"></div>
              <div class="col-md-12">
                <div class="actions">
                  <%= form.submit class: "btn btn-primary btn-lg btn-block"%>
                </div>
              </div>
            <% end %>

            <div class="fh5co-spacer fh5co-spacer-xs"></div>
            <div class="col-md-12">
            <% if current_user.try(:admin?) %>
              <div class="actions">
                <%= link_to 'Edit Message', edit_message_path(@message), class: "btn btn-primary btn-lg btn-block" %>
              </div>
            <% end %>
            </div>

            <div class="col-md-12">
              <div class="actions">
                <%= link_to t('messages.back'), messages_path, class: "btn btn-outline btn-lg btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
