<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q8T209GGMN');
  gtag('send', 'pageview', {
    'dimension1':  getCookie('rct')
    });
  gtag('send','event','eventCategory','eventAction');
</script>

<section id="fh5co-feature">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-12">
        <h2 class="fh5co-uppercase-heading-lg text-center"><%=@profile.firstname%> <%= @profile.lastname%></h2>

        <h2 class="fh5co-uppercase-heading-md text-center">
          <%=@profile.en_project_title if params[:locale] == "en"%>
          <%=@profile.zh_tw_project_title if params[:locale] == "zh_TW"%>
          <%=@profile.zh_cn_project_title if params[:locale] == "zh_CN" %>
          <%=@profile.vi_project_title if params[:locale] == "vi"%>
          <%=@profile.hmn_project_title if params[:locale] == "hmn"%>
        </h2>

        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
      <div class="col-md-12">
        <% if @profile.headshot.attached? %>
          <%= image_tag @profile.headshot.variant(resize_to_limit: [250, 250]), class: "fh5co-align-left img-circle"%>
        <% else %>
          <i class="fh5co-align-left img-responsive ti-layout-placeholder" style="color:red;"></i>
        <% end %>

        <p style="font-size:22px">
          <%= @profile.en_bio if params[:locale] == "en" %>
          <%= @profile.zh_tw_bio if params[:locale] == "zh_TW" %>
          <%= @profile.zh_cn_bio if params[:locale] == "zh_CN" %>
          <%= @profile.vi_bio if params[:locale] == "vi" %>
          <%= @profile.hmn_bio if params[:locale] == "hmn" %>
        </p>

        <% @profile.external_links.each do |l| %>
          <ul><%= link_to l, l, target: "_blank" %></ul>
        <% end %>

      </div>
    </div>
    <div class="fh5co-spacer fh5co-spacer-lg"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="col-md-12">
    <% if current_user.try(:admin?) %>
      <div class="actions">
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
    </div>

    <div class="col-md-12">
      <div class="actions">
        <%= link_to t('messages.back'), root_path, class: "btn btn-outline btn-lg btn-block" %>
      </div>
    </div>
  </div>
</section>
