<%= form_with(model: faq) do |form| %>
  <% if faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
        <% faq.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :en_question %>
    <%= form.text_area :en_question, size:'70x5', class: 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= form.label :en_answer %>
    <%= form.rich_text_area :en_answer %>
  </div>

  <div class="field">
    <%= form.label :zh_tw_question %>
    <%= form.text_area :zh_tw_question, size:'70x5', class: 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= form.label :zh_tw_answer %>
    <%= form.rich_text_area :zh_tw_answer %>
  </div>

  <div class="field">
    <%= form.label :zh_cn_question %>
    <%= form.text_area :zh_cn_question, size:'70x5', class: 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= form.label :zh_cn_answer %>
    <%= form.rich_text_area :zh_cn_answer %>
  </div>

  <div class="field">
    <%= form.label :hmn_question %>
    <%= form.text_area :hmn_question, size:'70x5', class: 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= form.label :hmn_answer %>
    <%= form.rich_text_area :hmn_answer %>
  </div>

  <div class="field">
    <%= form.label :vi_question %>
    <%= form.text_area :vi_question, size:'70x5', class: 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= form.label :vi_answer %>
    <%= form.rich_text_area :vi_answer %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
