<p id="notice"><%= notice %></p>

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>

			<div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
          <div class="form-group">
            <label for="gender" class="sr-only">Category</label>
            <select class="form-control input-lg" id="gender">
              <option>All</option>
              <% @faq_categories.each do |faq| %>
                <option><%= faq %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel-group fh5co-accordion" id="accordion" role="tablist" aria-multiselectable="true">

        <% @faqs.each do |faq| %>
          <div class="panel panel-default ">
            <div class="panel-heading" role="tab" id="heading<%=faq.id%>" data-toggle="collapse" data-parent="#accordion" data-target="#collapse<%=faq.id%>" aria-expanded="false" aria-controls="collapse<%=faq.id%>">
              <h4 class="panel-title">
                <a class="accordion-toggle">
                  <%= faq.en_question %>
                </a>
                <span style="float:right;padding-right: 40px">
                  <% if current_user.try(:admin?) %>
                    <%= link_to 'New Faq', new_faq_path %> /
                    <%= link_to 'Show', faq %> /
                    <%= link_to 'Edit', edit_faq_path(faq) %> /
                    <%= link_to 'Delete', faq, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </span>
              </h4>
            </div>
            <div id="collapse<%=faq.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=faq.id%>">
              <div class="panel-body">
                <%= faq.en_answer %>
            </div>
          </div>

        <% end %>
