<% content_for :head do %>
  <% JSON.parse(@response)["data"]["resources"]["css"].map do |c| %>
    <link href="<%= c["target"] %>" type="text/css" rel="stylesheet">
  <% end %>
  <script><%= raw JSON.parse(@response)["data"]["resources"]["inline"]%></script>
  <% JSON.parse(@response)["data"]["resources"]["css"].map do |j| %>
    <script src="<%= j["target"] %>" type="text/javascript"></script>
  <% end %>
<% end %>

<div class="fh5co-spacer fh5co-spacer-lg"></div>
<section>
  <div class="container">
    <div class="col-md-12">
      <%= raw JSON.parse(@response)["data"]["navigation"]["html"] %>
    </div>
    <div class="col-md-12">
      <%= raw JSON.parse(@response)["data"]["pageTemplate"] %>
    </div>
    <div class="col-md-12">
      <% JSON.parse(@response)["data"]["topics"].map do |t| %>
        <%= raw t["html"] %>
      <% end %>
    </div>
  </div>
</section>
