
<div class="row">
  <div class="col-md-12">
    <h2 class="h2"> <%= t('resources.layhealthworkers.project') %> </h2>
  </div>
  <div class="col-md-12">
    <p> <%= t('resources.layhealthworkers.project1')%> </p>
  </div>
  <div class="col-md-12">
    <p> <%= t('resources.layhealthworkers.project2')%> </p>
  </div>

  <div class="col-md-12">
    <h2 class="h2"> <%= t('resources.layhealthworkers.downloads') %> </h2>
  </div>
  <div class="col-md-12">
    <p> <%= t('resources.layhealthworkers.downloads1')%> </p>
  </div>

  <div class="col-md-12">
    <h2 class="h2"> <%= t('resources.layhealthworkers.stats') %> </h2>
  </div>
  <div class="col-md-12">
    <p> <%= t('resources.layhealthworkers.stats1')%> </p>
  </div>
</div>
