<!-- START #fh5co-hero -->


<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-uppercase-heading-lg text-center">
      <h1><%= t('resources.resources')%> </h1>
    </div>

    <div class="row">
      <p id="notice"><%= notice %></p>

      <div class="col-md-12">
        <div id="tab" class="fh5co-tab text-center">
          <ul class="resp-tabs-list hor_1">
            <li><i class="fh5co-tab-menu-icon ti-download"></i> <%= t('resources.downloads')%> </li>
            <li><i class="fh5co-tab-menu-icon ti-user"></i> <%= t('resources.layhealthworkers')%> </li>
            <li><i class="fh5co-tab-menu-icon ti-stats-up"></i> <%= t('resources.statistics')%> </li>
          </ul>

          <div class="resp-tabs-container hor_1">

            <div>
              <!-- first tab -->
              <div class="fh5co-spacer fh5co-spacer-md"></div>
              <%= render 'downloads', collection: @downloads %>
            </div>


            <div>
              <!-- second tab -->
              <div class="fh5co-spacer fh5co-spacer-md"></div>
            </div>

            <div>
              <!-- third tab -->
              <div>
                <div class="fh5co-spacer fh5co-spacer-md"></div>
                <% if current_user.try(:admin?) %>
                  <div class="actions">
                    <%= link_to 'New Statistic', new_statistic_path, class: "btn btn-primary btn-lg btn-block" %>
                  </div>
                  <div class="fh5co-spacer fh5co-spacer-md"></div>
                <% end %>
              </div>

              <% if @general.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.general')%></h2>
                <%= render 'general', collection: @general %>
              <% end %>

              <% if @testing.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.testing')%></h2>
                <%= render 'testing', collection: @testing %>
              <% end %>

              <% if @vaccination.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.vaccination')%></h2>
                <%= render 'vaccination', collection: @vaccination %>
              <% end %>

              <% if @other.any?  %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.other')%></h2>
                <%= render 'other', collection: @other %>
              <% end %>

              <% if current_user.try(:admin?) %>
                <% if @leftovers.any?  %>
                  <h2 class="fh5co-uppercase-heading-lg text-center">Uncategorized Leftovers that need to be saved! (Admin only)</h2>
                  <%= render 'leftovers', collection: @leftovers %>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
