<!-- START #fh5co-hero -->


<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-uppercase-heading-lg text-center">
      <h1><%= t('resources.resources')%> </h1>
    </div>

    <div class="row">
      <p id="notice"><%= notice %></p>

      <div class="col-md-12">
        <div id="tab" class="fh5co-tab text-center">
          <ul class="resp-tabs-list hor_1">
            <li><i class="fh5co-tab-menu-icon ti-user"></i> <%= t('resources.layhealthworkers.layhealthworkers')%> </li>
            <li><i class="fh5co-tab-menu-icon ti-download"></i> <%= t('resources.downloads')%> </li>
            <li><i class="fh5co-tab-menu-icon ti-stats-up"></i> <%= t('resources.statistics')%> </li>
          </ul>

          <div class="resp-tabs-container hor_1">

            <div>
              <!-- first tab -->
              <div class="fh5co-spacer fh5co-spacer-xxs"></div>
              <%= render 'layhealthworkers' %>
            </div>


            <div>
              <!-- second tab -->
              <div class="fh5co-spacer fh5co-spacer-xxs"></div>
              <%= render 'downloads', collection: @downloads %>
            </div>

            <div>
              <!-- third tab -->
              <div>
                <div class="fh5co-spacer fh5co-spacer-xxs"></div>
                <% if current_user.try(:admin?) %>
                  <div class="actions">
                    <%= link_to 'New Statistic', new_statistic_path, class: "btn btn-primary btn-lg btn-block" %>
                  </div>
                  <div class="fh5co-spacer fh5co-spacer-md"></div>
                <% end %>
              </div>

              <% if @featured.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.featured')%></h2>
                <%= render 'featured', collection: @featured %>
              <% end %>

              <% if @general.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.general')%></h2>
                <%= render 'general', collection: @general %>
              <% end %>

              <% if @testing.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.testing')%></h2>
                <%= render 'testing', collection: @testing %>
              <% end %>

              <% if @vaccination.any? %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.vaccination')%></h2>
                <%= render 'vaccination', collection: @vaccination %>
              <% end %>

              <% if @other.any?  %>
                <h2 class="fh5co-uppercase-heading-lg text-center"><%= t('resources.external.other')%></h2>
                <%= render 'other', collection: @other %>
              <% end %>

              <% if current_user.try(:admin?) %>
                <% if @leftovers.any?  %>
                  <h2 class="fh5co-uppercase-heading-lg text-center">Uncategorized Leftovers that need to be saved! (Admin only)</h2>
                  <%= render 'leftovers', collection: @leftovers %>
                <% end %>

                <div class="col-md-12 Admin-border">
                  <h1>Statistics Admin List</h1>

                  <table>
                    <thead>
                      <tr>
                        <th>En title</th>
                        <th>En description</th>
                        <th>En link name</th>
                        <th>En Link url</th>
                        <th>Category</th>
                        <th>Featured?</th>
                        <th>Archived?</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @admin_statistics.each do |statistic| %>
                        <tr>
                          <td><%= statistic.en_title %></td>
                          <td><%= statistic.en_description %></td>
                          <td><%= statistic.en_link_name %></td>
                          <td><%= statistic.en_link_url %></td>
                          <td><%= statistic.category %></td>
                          <td><%= statistic.featured %></td>
                          <td><%= statistic.archive %></td>
                          <td><%= link_to 'Show', statistic %></td>
                          <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
                          <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <br>
                  <%= link_to 'New Statistic', new_statistic_path %>
                </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
