
<div class="fh5co-spacer fh5co-spacer-md"></div>
<section id="fh5co-feature-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        <% if @callouts.length == 1 %>
          <% @callouts.each do |c| %>
            <div class="row">
              <div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                <div class="row">

                  <!-- if title text and image -->
                  <% if (c.send("#{I18n.locale}_title".downcase).present? || c.send("#{I18n.locale}_body".downcase).present?) && c.send("#{I18n.locale}_image".downcase).attached?  %>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                      <%= image_tag c.send("#{I18n.locale}_image".downcase), class: "img-responsive" %>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                      <h2><%= c.send("#{I18n.locale}_title".downcase) %></h2>
                      <p><%= c.send("#{I18n.locale}_body".downcase) %></p>
                    </div>
                  <!-- just the text -->
                  <% elsif c.send("#{I18n.locale}_title".downcase).present? && !c.send("#{I18n.locale}_image".downcase).attached? %>
                    <div class="col-md-12 text-center fh5co-item-slide-text">
                      <h2><%= c.send("#{I18n.locale}_title".downcase) %></h2>
                      <p><%= c.send("#{I18n.locale}_body".downcase) %></p>
                    </div>
                  <!-- else just the large image -->
                  <% else %>
                    <div class="col-md-12 fh5co-item-slide-img">
                      <%= image_tag c.send("#{I18n.locale}_image".downcase), class: "img-responsive" if c.send("#{I18n.locale}_image".downcase).attached? %>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          <% end %>

        <% else %>
  				<div class="owl-carousel-fullwidth owl-carousel-2">

          <% @callouts.each do |c| %>
  					<div class="item">
  						<!-- <div class="container"> -->
  							<div class="row">
  								<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
  									<div class="row">
                      <!-- if title text and image -->
                      <% if (c.send("#{I18n.locale}_title".downcase).present? || c.send("#{I18n.locale}_body".downcase).present?) && c.send("#{I18n.locale}_image".downcase).attached?  %>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                          <%= image_tag c.send("#{I18n.locale}_image".downcase), class: "img-responsive" %>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                          <h2><%= c.send("#{I18n.locale}_title".downcase) %></h2>
                          <p><%= c.send("#{I18n.locale}_body".downcase) %></p>
                        </div>
                      <!-- just the text -->
                      <% elsif c.send("#{I18n.locale}_title".downcase).present? && !c.send("#{I18n.locale}_image".downcase).attached? %>
                        <div class="col-md-12 text-center fh5co-item-slide-text">
                          <h2><%= c.send("#{I18n.locale}_title".downcase) %></h2>
                          <p><%= c.send("#{I18n.locale}_body".downcase) %></p>
                        </div>
                      <!-- else just the large image -->
                      <% else %>
                        <div class="col-md-12 fh5co-item-slide-img">
                          <%= image_tag c.send("#{I18n.locale}_image".downcase), class: "img-responsive" if c.send("#{I18n.locale}_image".downcase).attached? %>
                        </div>
                      <% end %>

  									</div>
  								</div>
  							</div>
  						<!-- </div> -->
  					</div>
  					<!-- END .item -->
          <% end %>

  				</div>
        <% end %>  <!-- end callouts 1 or many  -->
			</div> <!-- Close col-md-12 -->
		</div> <!-- Close row -->
	</div> <!-- Close container -->
</section>
<div class="fh5co-spacer fh5co-spacer-md"></div>
<% if current_user.try(:admin?) %>
  <div class="row" >
    <div class="col-md-6 col-md-offset-3" >
        <%= link_to 'edit callouts', callouts_path, class: "btn btn-large btn-primary btn-block" %>
    </div>
  </div>
<% end %>
