
<div class="fh5co-spacer fh5co-spacer-md"></div>

<!-- CAB MEMBERS -->
<section>
  <div class="container">
    <div class="fh5co-feature-2">
      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.lhw') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <% @lhw.in_groups_of(4, false).each do |item1, item2, item3, item4| %>
      <div class="row">
        <a href="<%= profile_path(item1) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item1.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item1.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item1.en_project_title if params[:locale] == 'en'%>
              <%= item1.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item1.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item1.vi_project_title if params[:locale] == 'vi'%>
              <%= item1.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.firstname%> <%= item1.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item1.en_affiliation if params[:locale] == 'en' %>
              <%= item1.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item1.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item1.vi_affiliation if params[:locale] == 'vi' %>
              <%= item1.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% if item2 %>
        <a href="<%= profile_path(item2) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item2.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item2.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item2.en_project_title if params[:locale] == 'en'%>
              <%= item2.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item2.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item2.vi_project_title if params[:locale] == 'vi'%>
              <%= item2.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.firstname%> <%= item2.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item2.en_affiliation if params[:locale] == 'en' %>
              <%= item2.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item2.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item2.vi_affiliation if params[:locale] == 'vi' %>
              <%= item2.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
				<div class="clearfix visible-sm-block"></div>
        <% if item3 %>
        <a href="<%= profile_path(item3) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item3.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item3.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item3.en_project_title if params[:locale] == 'en'%>
              <%= item3.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item3.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item3.vi_project_title if params[:locale] == 'vi'%>
              <%= item3.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item3.firstname%> <%= item3.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item3.en_affiliation if params[:locale] == 'en' %>
              <%= item3.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item3.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item3.vi_affiliation if params[:locale] == 'vi' %>
              <%= item3.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
        <% if item4 %>
        <a href="<%= profile_path(item4) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item4.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item4.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item4.en_project_title if params[:locale] == 'en'%>
              <%= item4.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item4.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item4.vi_project_title if params[:locale] == 'vi'%>
              <%= item4.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item4.firstname%> <%= item4.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item4.en_affiliation if params[:locale] == 'en' %>
              <%= item4.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item4.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item4.vi_affiliation if params[:locale] == 'vi' %>
              <%= item4.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
      </div>
      <% end %>


    </div>
  </div>
</section>
