<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q8T209GGMN');
  gtag('send', 'pageview', {
    'dimension1':  getCookie('rct')
    });
  gtag('send','event','eventCategory','eventAction');
</script>


<!-- START #fh5co-hero -->
<aside id="fh5co-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <% case %>
        <% when params[:locale] == "zh_TW" || params[:locale] == "zh_CN" %>
          <img class="fh5co-hero-wrap" src="/assets/CH_INFORMED Logo.png" alt="informed logo">
        <% when params[:locale] == "vi" %>
          <img class="fh5co-hero-wrap" src="/assets/VIET_INFORMED Logo.png" alt="informed logo">
        <% when params[:locale] == "hmn" %>
          <img class="fh5co-hero-wrap" src="/assets/HMONG_INFORMED Logo.png" alt="informed logo">
        <% when params[:locale] == "en" %>
          <img class="fh5co-hero-wrap" src="/assets/ENG_INFORMED Logo.png" alt="informed logo">
        <% end %>
      </div>
    </div>
  </div>
</aside>

<!-- intro block -->
<section id="fh5co-feature">
  <div class="container">
    <div class="row">
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
        <h1 class="h1 fh5co-heading fh5co-no-margin-bottom"><%= t('about.title') %></h1>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <h4 class="h5 fh5co-heading-sub"><%= t('about.mission1') %></h4>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <h4 class="h5 fh5co-heading-sub"><%= t('about.mission2') %></h4>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
    </div>
    <div class="fh5co-spacer fh5co-spacer-sm"></div>
  </div>
</section>


<div class="fh5co-spacer fh5co-spacer-md"></div>

<section id="fh5co-feature-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="owl-carousel-fullwidth owl-carousel-2">
					<div class="item">
						<!-- <div class="container"> -->
							<div class="row">
								<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
											<img src="/assets/macbook_1.png" alt="Images" class="img-responsive">
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
											<h2>Saepe dolore natus corrupti <span class="fh5co-border"></span></h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora tempore</p>
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
					<!-- END .item -->

					<div class="item">
						<div class="row">
							<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
										<img src="/assets/macbook_1.png" alt="Images" class="img-responsive">
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
										<h2>Saepe dolore natus corrupti<span class="fh5co-border"></span></h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora tempore.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END .item -->
				</div>
			</div>
		</div>
	</div>
</section>

<div class="fh5co-spacer fh5co-spacer-xlg"></div>


<!-- RESEARCH TEAM -->
<section id="fh5co-feature">
  <div class="container">

      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.research_team') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <% @researchers.in_groups_of(4, false).each do |item1, item2, item3, item4| %>
      <div class="row fh5co-feature-2">
        <a href="<%= profile_path(item1) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item1.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item1.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item1.en_project_title if params[:locale] == 'en'%>
              <%= item1.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item1.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item1.vi_project_title if params[:locale] == 'vi'%>
              <%= item1.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.firstname%> <%= item1.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item1.en_affiliation if params[:locale] == 'en' %>
              <%= item1.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item1.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item1.vi_affiliation if params[:locale] == 'vi' %>
              <%= item1.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% if item2 %>
        <a href="<%= profile_path(item2) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item2.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item2.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item2.en_project_title if params[:locale] == 'en'%>
              <%= item2.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item2.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item2.vi_project_title if params[:locale] == 'vi'%>
              <%= item2.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.firstname%> <%= item2.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item2.en_affiliation if params[:locale] == 'en' %>
              <%= item2.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item2.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item2.vi_affiliation if params[:locale] == 'vi' %>
              <%= item2.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
        <% if item3 %>
        <a href="<%= profile_path(item3) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item3.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item3.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item3.en_project_title if params[:locale] == 'en'%>
              <%= item3.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item3.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item3.vi_project_title if params[:locale] == 'vi'%>
              <%= item3.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item3.firstname%> <%= item3.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item3.en_affiliation if params[:locale] == 'en' %>
              <%= item3.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item3.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item3.vi_affiliation if params[:locale] == 'vi' %>
              <%= item3.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
        <% if item4 %>
        <a href="<%= profile_path(item4) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item4.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item4.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item4.en_project_title if params[:locale] == 'en'%>
              <%= item4.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item4.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item4.vi_project_title if params[:locale] == 'vi'%>
              <%= item4.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item4.firstname%> <%= item4.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item4.en_affiliation if params[:locale] == 'en' %>
              <%= item4.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item4.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item4.vi_affiliation if params[:locale] == 'vi' %>
              <%= item4.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
      </div>
      <% end %>

    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->


  </div>
</section>

<div class="fh5co-spacer fh5co-spacer-xlg"></div>

<!-- CAB MEMBERS -->
<section>
  <div class="container">
    <div class="fh5co-feature-2">
      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.cab_members') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>



      <% @cab_members.in_groups_of(4, false).each do |item1, item2, item3, item4| %>
      <div class="row">
        <a href="<%= profile_path(item1) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item1.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item1.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item1.en_project_title if params[:locale] == 'en'%>
              <%= item1.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item1.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item1.vi_project_title if params[:locale] == 'vi'%>
              <%= item1.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item1.firstname%> <%= item1.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item1.en_affiliation if params[:locale] == 'en' %>
              <%= item1.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item1.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item1.vi_affiliation if params[:locale] == 'vi' %>
              <%= item1.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% if item2 %>
        <a href="<%= profile_path(item2) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item2.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item2.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item2.en_project_title if params[:locale] == 'en'%>
              <%= item2.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item2.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item2.vi_project_title if params[:locale] == 'vi'%>
              <%= item2.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item2.firstname%> <%= item2.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item2.en_affiliation if params[:locale] == 'en' %>
              <%= item2.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item2.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item2.vi_affiliation if params[:locale] == 'vi' %>
              <%= item2.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
        <% if item3 %>
        <a href="<%= profile_path(item3) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item3.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item3.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item3.en_project_title if params[:locale] == 'en'%>
              <%= item3.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item3.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item3.vi_project_title if params[:locale] == 'vi'%>
              <%= item3.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item3.firstname%> <%= item3.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item3.en_affiliation if params[:locale] == 'en' %>
              <%= item3.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item3.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item3.vi_affiliation if params[:locale] == 'vi' %>
              <%= item3.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
        <% if item4 %>
        <a href="<%= profile_path(item4) %>">
          <div class="col-md-3 col-sm-6 fh5co-feature-item">
            <span class="fh5co-feature-icon"><%= image_tag item4.headshot.variant(resize_to_limit: [200, 200]), class: "img-circle" if item4.headshot.attached?%></span>
            <p class="text-center fh5co-feature-description">
              <%= item4.en_project_title if params[:locale] == 'en'%>
              <%= item4.zh_cn_project_title if params[:locale] == 'zh_CN'%>
              <%= item4.zh_tw_project_title if params[:locale] == 'zh_TW'%>
              <%= item4.vi_project_title if params[:locale] == 'vi'%>
              <%= item4.hmn_project_title if params[:locale] == 'hmn'%>
            </p>
            <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= item4.firstname%> <%= item4.lastname %></h3>
            <p class="text-center fh5co-feature-description text-uppercase">
              <%= item4.en_affiliation if params[:locale] == 'en' %>
              <%= item4.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
              <%= item4.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
              <%= item4.vi_affiliation if params[:locale] == 'vi' %>
              <%= item4.hmn_affiliation if params[:locale] == 'hmn' %>
            </p>
          </div>
        </a>
        <% end %>
      </div>
      <% end %>
<!--
      <section>
        <div class="container">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4 text-center">
            <div class="fh5co-spacer fh5co-spacer-xxs"></div>
            <a href="#" class="btn btn-primary btn-lg btn-block">Join the Study</a>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
      </section> -->

    </div>
  </div>
</section>
