<!-- START #fh5co-hero -->
<aside id="fh5co-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <% case %>
        <% when params[:locale] == "zh_TW" || params[:locale] == "zh_CN" %>
          <img class="fh5co-hero-wrap" src="/assets/CH_INFORMED Logo.png" alt="informed logo">
        <% when params[:locale] == "vi" %>
          <img class="fh5co-hero-wrap" src="/assets/VIET_INFORMED Logo.png" alt="informed logo">
        <% when params[:locale] == "hmn" %>
          <img class="fh5co-hero-wrap" src="/assets/HMONG_INFORMED Logo.png" alt="informed logo">
        <% when params[:locale] == "en" %>
          <img class="fh5co-hero-wrap" src="/assets/ENG_INFORMED Logo.png" alt="informed logo">
        <% end %>
      </div>
    </div>
  </div>
</aside>

<!-- intro block -->
<section>
  <div class="container">
    <div class="row">
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
        <h1 class="h1 fh5co-heading fh5co-no-margin-bottom"><%= t('about.title') %></h1>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <h4 class="h5 fh5co-heading-sub"><%= t('about.mission1') %></h4>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <h4 class="h5 fh5co-heading-sub"><%= t('about.mission2') %></h4>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
    </div>
    <div class="fh5co-spacer fh5co-spacer-sm"></div>
  </div>
</section>


<div class="fh5co-spacer fh5co-spacer-md"></div>

<section id="fh5co-feature-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="owl-carousel-fullwidth owl-carousel-2">
					<div class="item">
						<!-- <div class="container"> -->
							<div class="row">
								<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
											<img src="/assets/macbook_1.png" alt="Images" class="img-responsive">
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
											<h2>Saepe dolore natus corrupti <span class="fh5co-border"></span></h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora tempore</p>
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
					<!-- END .item -->

					<div class="item">
						<div class="row">
							<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
										<img src="/assets/macbook_1.png" alt="Images" class="img-responsive">
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
										<h2>Saepe dolore natus corrupti<span class="fh5co-border"></span></h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora tempore.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END .item -->
				</div>
			</div>
		</div>
	</div>
</section>

<div class="fh5co-spacer fh5co-spacer-xlg"></div>


<!-- RESEARCH TEAM -->
<section id="fh5co-feature">
  <div class="container">
    <div class="row fh5co-feature-2">

      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.research_team') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <% @researchers.each do |r| %>
      <a href="<%= profile_path(r) %>">
        <div class="col-md-3 col-sm-6 fh5co-feature-item">
          <span class="fh5co-feature-icon"><%= image_tag r.headshot.variant(resize_to_limit: [250, 250]), class: "img-responsive"%></span>
          <p class="text-center fh5co-feature-description">
            <%= r.en_project_title if params[:locale] == 'en'%>
            <%= r.zh_cn_project_title if params[:locale] == 'zh_CN'%>
            <%= r.zh_tw_project_title if params[:locale] == 'zh_TW'%>
            <%= r.vi_project_title if params[:locale] == 'vi'%>
            <%= r.hmn_project_title if params[:locale] == 'hmn'%>
          </p>
          <h3 class="text-center fh5co-feature-title h4 text-uppercase"><%= r.firstname%> <%= r.lastname %></h3>
          <p class="text-center fh5co-feature-description text-uppercase">
            <%= r.en_affiliation if params[:locale] == 'en' %>
            <%= r.zh_cn_affiliation if params[:locale] == 'zh_CN' %>
            <%= r.zh_tw_affiliation if params[:locale] == 'zh_TW' %>
            <%= r.vi_affiliation if params[:locale] == 'vi' %>
            <%= r.hmn_affiliation if params[:locale] == 'hmn' %>
          </p>
        </div>
      </a>
      <% end %>

    </div>
    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->


  </div>
</section>

<div class="fh5co-spacer fh5co-spacer-xlg"></div>

<!-- CAB MEMBERS -->
<section>
  <div class="container">
    <div class="row fh5co-feature-2">

      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.cab_members') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>


      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Christy Calhoun</h3>
        <p class="text-center fh5co-feature-description">Healthwise</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Eunice Cheng</h3>
        <p class="text-center fh5co-feature-description">Asian Americans for Community Involvement</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Mina Li</h3>
        <p class="text-center fh5co-feature-description">KTSF Channel 26</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Haley Mullins</h3>
        <p class="text-center fh5co-feature-description">Healthwise</p>
      </div>
    </div>

    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

    <div class="row fh5co-feature-2">

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Fiona Ng</h3>
        <p class="text-center fh5co-feature-description">UC San Francisco</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Tony Nguyen</h3>
        <p class="text-center fh5co-feature-description">Californai Healthy Nail Salon Collaborative</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Marta Sylvia</h3>
        <p class="text-center fh5co-feature-description">Healthwise</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Jennifer Xiong</h3>
        <p class="text-center fh5co-feature-description">Hlub Hmong Center</p>
      </div>

      <div class="fh5co-spacer fh5co-spacer-md"></div>
<!--
      <section>
        <div class="container">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4 text-center">
            <div class="fh5co-spacer fh5co-spacer-xxs"></div>
            <a href="#" class="btn btn-primary btn-lg btn-block">Join the Study</a>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
      </section> -->

    </div>
  </div>
</section>
