<!-- START #fh5co-hero -->
<aside id="fh5co-hero" class='img-fluid'>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="fh5co-hero-wrap">
        </div>
      </div>
    </div>
  </div>
</aside>

<!-- intro block -->
<section>
  <div class="container">
    <div class="row">
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
        <h1 class="h1 fh5co-heading fh5co-no-margin-bottom">INdividual and Family-Oriented Responsive Messaging EDucation</h1>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
        <h4 class="h5 fh5co-heading-sub">Getting Asian Americans INFORMED to Facilitate COVID-19 Testing and Vaccinations, is to identify and address sociocultural, ethical and behavioral barriers related to COVID-19 testing and vaccination to enable Asian Americans to make well-informed decisions about getting tested for COVID-19.</h4>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
    </div>
    <div class="fh5co-spacer fh5co-spacer-sm"></div>
  </div>
</section>

<!-- RESEARCH TEAM -->
<section id="fh5co-feature">
  <div class="container">
    <div class="row fh5co-feature-2">

      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.research_team') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Nancy Burke</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.co_investigator')%></p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Joyce Cheng</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.executive_director')%></p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Rianna Garcia</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.student_intern')%></p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Minji Kim</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.co_investigator')%></p>
      </div>
    </div>
    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->
    <div class="row fh5co-feature-2">

      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Nikita Madan</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.student_intern')%></p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Tung Nguyen</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.co_investigator')%></p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Susan Stewart</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.co_investigator')%></p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Janice Y. Tsoh</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.principal_investigator')%></p>
      </div>
    </div>
    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->
    <div class="row fh5co-feature-2">

      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Ching Wong</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.research_staff')%></p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Alan Wu</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.co_investigator')%></p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Kara Young</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.community_coordinator')%></p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Edgar Yu</h3>
        <p class="text-center fh5co-feature-description"><%= t('about.research_team_titles.study_coordinator')%></p>
      </div>
    </div>
    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

  </div>
</section>

<!-- CAB MEMBERS -->
<section id="fh5co-feature">
  <div class="container">
    <div class="row fh5co-feature-2">

      <h2 class="fh5co-uppercase-heading-lg text-center">INFORMED <%= t('about.cab_members') %></h2>
      <div class="fh5co-spacer fh5co-spacer-md"></div>


      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Christy Calhoun</h3>
        <p class="text-center fh5co-feature-description">Healthwise</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Eunice Cheng</h3>
        <p class="text-center fh5co-feature-description">Asian Americans for Community Involvement</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Mina Li</h3>
        <p class="text-center fh5co-feature-description">KTSF Channel 26</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Haley Mullins</h3>
        <p class="text-center fh5co-feature-description">Healthwise</p>
      </div>
    </div>

    <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

    <div class="row fh5co-feature-2">

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Fiona Ng</h3>
        <p class="text-center fh5co-feature-description">UC San Francisco</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Tony Nguyen</h3>
        <p class="text-center fh5co-feature-description">Californai Healthy Nail Salon Collaborative</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Marta Sylvia</h3>
        <p class="text-center fh5co-feature-description">Healthwise</p>
      </div>
      <div class="col-md-3 col-sm-6 fh5co-feature-item">
        <span class="fh5co-feature-icon fh5co-circle"><i class="ti-user"></i></span>
        <h3 class="text-center fh5co-feature-title h4 text-uppercase">Jennifer Xiong</h3>
        <p class="text-center fh5co-feature-description">Hlub Hmong Center</p>
      </div>

      <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

    </div>
  </div>
</section>
