<p id="notice"><%= notice %></p>

<h1>Callouts</h1>

<table>
  <thead>
    <tr>
      <th>En title</th>
      <th>En body</th>
      <th>En link name</th>
      <th>Zh tw title</th>
      <th>Zh tw body</th>
      <th>Zh tw link name</th>
      <th>Zh cn title</th>
      <th>Zh cn body</th>
      <th>Zh cn link name</th>
      <th>Vi title</th>
      <th>Vi body</th>
      <th>Vi link name</th>
      <th>Hmn title</th>
      <th>Hmn body</th>
      <th>Hmn link name</th>
      <th>Link</th>
      <th>External link</th>
      <th>Archive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @callouts.each do |callout| %>
      <tr>
        <td><%= callout.en_title %></td>
        <td><%= callout.en_body %></td>
        <td><%= callout.en_link_name %></td>
        <td><%= callout.zh_tw_title %></td>
        <td><%= callout.zh_tw_body %></td>
        <td><%= callout.zh_tw_link_name %></td>
        <td><%= callout.zh_cn_title %></td>
        <td><%= callout.zh_cn_body %></td>
        <td><%= callout.zh_cn_link_name %></td>
        <td><%= callout.vi_title %></td>
        <td><%= callout.vi_body %></td>
        <td><%= callout.vi_link_name %></td>
        <td><%= callout.hmn_title %></td>
        <td><%= callout.hmn_body %></td>
        <td><%= callout.hmn_link_name %></td>
        <td><%= callout.link %></td>
        <td><%= callout.external_link %></td>
        <td><%= callout.archive %></td>
        <td><%= link_to 'Show', callout %></td>
        <td><%= link_to 'Edit', edit_callout_path(callout) %></td>
        <td><%= link_to 'Destroy', callout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Callout', new_callout_path %>
