<p id="notice"><%= notice %></p>

<p>
  <strong>En title:</strong>
  <%= @callout.en_title %>
</p>

<p>
  <strong>En body:</strong>
  <%= @callout.en_body %>
</p>

<p>
  <strong>En link name:</strong>
  <%= @callout.en_link_name %>
</p>

<p>
  <strong>Zh tw title:</strong>
  <%= @callout.zh_tw_title %>
</p>

<p>
  <strong>Zh tw body:</strong>
  <%= @callout.zh_tw_body %>
</p>

<p>
  <strong>Zh tw link name:</strong>
  <%= @callout.zh_tw_link_name %>
</p>

<p>
  <strong>Zh cn title:</strong>
  <%= @callout.zh_cn_title %>
</p>

<p>
  <strong>Zh cn body:</strong>
  <%= @callout.zh_cn_body %>
</p>

<p>
  <strong>Zh cn link name:</strong>
  <%= @callout.zh_cn_link_name %>
</p>

<p>
  <strong>Vi title:</strong>
  <%= @callout.vi_title %>
</p>

<p>
  <strong>Vi body:</strong>
  <%= @callout.vi_body %>
</p>

<p>
  <strong>Vi link name:</strong>
  <%= @callout.vi_link_name %>
</p>

<p>
  <strong>Hmn title:</strong>
  <%= @callout.hmn_title %>
</p>

<p>
  <strong>Hmn body:</strong>
  <%= @callout.hmn_body %>
</p>

<p>
  <strong>Hmn link name:</strong>
  <%= @callout.hmn_link_name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @callout.link %>
</p>

<p>
  <strong>External link:</strong>
  <%= @callout.external_link %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @callout.archive %>
</p>

<%= link_to 'Edit', edit_callout_path(@callout) %> |
<%= link_to 'Back', callouts_path %>
